apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - loki-configmap.yaml
  - loki-deployment.yaml
  - loki-service.yaml
  - promtail-configmap.yaml
  - promtail-daemonset.yaml
  - grafana-datasource-loki.yaml
