apiVersion: v1
kind: Service
metadata:
  name: ms-notify
  labels:
    app: ms-notify
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: ms-notify
