apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-video
  labels:
    app: ms-video
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-video
  template:
    metadata:
      labels:
        app: ms-video
    spec:
      containers:
        - name: ms-video
          image: ms-stub:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: SERVICE_NAME
              value: "ms-video"
            - name: STAGE
              value: "api"
            - name: AWS_REGION
              value: "us-east-1"
            - name: JWT_SECRET_NAME
              value: "hackathon-prod-jwt-secret"
            - name: MS_NOTIFY_URL
              value: "http://ms-notify:8080"
            - name: PORT
              value: "8080"
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 30
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 10
            timeoutSeconds: 5
