apiVersion: v1
kind: Service
metadata:
  name: ms-video
  labels:
    app: ms-video
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: ms-video
